# VS Code
.vscode/

# Variables d'environnement
.env

# ============================================================
# JAVA
# ============================================================

*.class
target/
.gradle/
build/